.signInButton {
    color: white;
    background-color: red;
    margin-right: 10px;
    padding: 8px;
  }
  
  .signUpButton {
    color: white;
    background-color: red;
    padding: 8px;
  }
  .title {
    color: red;
    padding: 8px;
  }
  .buttonRow {
    display: flex;
    justify-content: space-between;
    border-color: green;
  }
  .navBarContainer {
    background-color: black;
  }
  